{% extends 'CFAHubSharedBundle:Shared:layout.html.twig' %}

{% block page_title %}
    Marketing
{% endblock %}

{% block breadcrumb %}
    <div class="cfa-breadcrumb">
        <a href="{{ path('cfa_hub_marketing_index') }}">
            Marketing
        </a>
        &raquo;
        <a href="{{ path('cfa_hub_marketing_sales_index') }}">
            Sales
        </a>
        &raquo;
        Manage Sale
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {# add an order to a sale #}
        <div class="panel panel-cfa">
            <div class="panel-heading">
                Add Product
            </div>
            <div class="panel-body">
                <form action="{{ path('cfa_hub_marketing_sales_add_to_sale', {'sale': sale.id}) }}" method="post" id="js-add-product-form">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(order_form.product, {'attr': {'class': 'js-product-input'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(order_form.qty, {'attr': {'class': 'js-qty-input'}}) }}
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Price</label>
                                <div id="js-product-price" style="padding: 6px 10px; border: 2px dotted #eee; border-radius: 4px;">
                                    $0.00
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Total</label>
                                <div id="js-product-total" style="padding: 6px 10px; border: 2px dotted #eee; border-radius: 4px;">
                                    $0.00
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_row(order_form.specialRequest) }}
                    <button type="submit" class="btn btn-cfa pull-right">
                        {{ icon('plus') }}
                        Add to order
                    </button>
                </form>
            </div>
        </div>

        {# table of orders in sale #}
        <div class="panel panel-cfa">
            <div class="panel-heading">
                Order
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Comments</th>
                    </thead>
                    <tbody id="js-order-table">
                        {% for order in sale.orders %}
                            <tr>
                                <td>{{ order.product }}</td>
                                <td>${{ order.product.price|number_format(2) }}</td>
                                <td>{{ order.qty }}</td>
                                <td>${{ (order.product.price * order.qty)|number_format(2) }}</td>
                                <td>{{ order.specialRequest }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    {{ icon('ban') }}
                                    None
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {# customer info #}
        <div class="panel panel-cfa">
            <div class="panel-heading">
                Customer
            </div>
            <div class="panel-body">
                <form action="{{ path('cfa_hub_marketing_sales_customer_add', {'sale': sale.id}) }}" method="post">
                    {{ form_row(customer_form.firstName) }}
                    {{ form_row(customer_form.lastName) }}
                    {{ form_row(customer_form.companyName) }}
                    {{ form_row(customer_form.email) }}
                    {{ form_row(customer_form.phone) }}
                    <button type="submit" class="btn btn-cfa pull-right">
                        {{ icon('check') }}
                        Save
                    </button>
                </form>
            </div>
        </div>

        {# sale details #}
        <div class="panel panel-cfa">
            <div class="panel-heading">
                Sale Details
            </div>
            <div class="panel-body">
                form for sale details
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){
            $('.js-product-input').on('change', function(){
                // Order.productChange($('.js-product-input option:selected').text());
                $.ajax({
                    type: "post",
                    url: "/hub/marketing/product/" + $('.js-product-input option:selected').val() + "/get-product-details"
                })
                .done(function(data){
                    Order.updateProductDetails(data.data);
                });
            });

            $('.js-qty-input').on('change', function(){
                Order.updateProductDetailsForQty($(this).val());
            });

            $('#js-add-product-form').on('submit', function(e){
                e.preventDefault();

                // var inputsOk = Course.checkInputs();

                // if (inputsOk) {
                    var data = $(this).serialize();
                    console.log(data);

                    // Course.clearInputs();

                    $.ajax({
                        type: $(this).attr('method'),
                        url: $(this).attr('action'),
                        data: data
                    })

                    .done(function(data){
                        Order.addToTable(data.data);
                    });
                // }
            });

            var Order = {
                addToTable: function(data){
                    var table = $('#js-order-table');
                    var tr = "<tr>"
                        + "<td>" + data['productName'] + "</td>"
                        + "<td>$" + parseInt(data['productPrice']).toFixed(2) + "</td>"
                        + "<td>" + data['qty'] + "</td>"
                        + "<td>$" + parseInt(data['total']).toFixed(2) + "</td>"
                        + "<td>" + data['comments'] + "</td>"
                    + "</tr>";

                    table.append(tr);
                },

                updateProductDetails: function(data){
                    $('#js-product-price').text('$' + data['price'].toFixed(2));
                    $('#js-product-total').text('$' + ($('.js-qty-input').val() * data['price']).toFixed(2));
                },

                updateProductDetailsForQty: function(qty){
                    var price = $('#js-product-price').text();
                    price     = price.replace("$", "");

                    $('#js-product-total').text('$' + (parseInt(qty) * parseInt(price)).toFixed(2));
                }
            };
        });
    </script>
{% endblock %}
