{% extends 'CFAHubSecurityBundle:Security:layout.html.twig' %}

{% block content %}
    <div class="container">
        <div style="margin-top: 5%;">
            <!-- login -->
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="panel panel-red" style="background-color: #e5173f; box-shadow: none;">
                    <div class="panel-heading">
                        <center>
                            <img src="{{ asset('bundles/cfahubshared/images/ChickFilA-Clemson-Seneca-White.png') }}" style="max-width: 100%;">
                        </center>
                    </div>
                    <div class="panel-body">
                        <form class="form-signin" action="login_check" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% else %}
                                <div style="margin-top: 25px;"></div>
                            {% endif %}

                            <input type="text" class="form-control input-lg" name="_username" value="{{ username }}" placeholder="Username" />

                            <input type="password" class="form-control input-lg" name="_password" placeholder="Password" />

                            <button type="submit" class="btn btn-cfa-clear btn-block btn-lg">
                                {{ icon('sign-in') }}
                                Login
                            </button>
                        </form>
                        <br>
                        <!-- forgot password -->
                        <p class="cfa-red" style="margin-top: 30px; display: none;">
                            <input class="" id="forgot-password" type="checkbox"> &nbsp; Forgot Password?
                        </p>
                        <div style="display: none;" id="reset-password">
                            <div class="form-horizontal">
                                <form action="#" method="post">
                                    <!-- username -->
                                    <div class="form-group">
                                        <div class="col-lg-3 control-label cfa-red">
                                            Username
                                        </div>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" name="_username" value="{{ username }}" />
                                        </div>
                                    </div>
                                    <!-- submit btn -->
                                    <div class="form-group">
                                        <div class="col-lg-3 control-label cfa-red">
                                        </div>
                                        <div class="col-lg-8">
                                            <button type="submit" class="btn btn-default">Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
